<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link href="~/webtheme/template/vendors/feather/feather.css" rel="stylesheet" />
    <link href="~/webtheme/template/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="~/webtheme/template/vendors/ti-icons/css/themify-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/webtheme/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/webtheme/template/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/webtheme/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/webtheme/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/webtheme/template/images/favicon.png" />
</head>