  <!-- partial:~/webtheme/template/partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       @*  <li class="nav-item">
            <a class="nav-link" href="~/webtheme/template/index.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> *@
        
        <li class="nav-item active">
            <a class="nav-link" href="/Employees/Index">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">Employees</span>
            </a>            
        </li>
        <li class="nav-item nav-category">UI Elements</li>
        <li class="nav-item">
            <a class="nav-link" href="/Orders/Index">
                <i class="menu-icon mdi mdi-shopping"></i>
                <span class="menu-title">Orders</span>
            </a>
        </li>
       
    </ul>
</nav>
<!-- partial -->
<script>
    $(document).ready(function () {
        const navLinks = $('.nav-link');

        // Sayfa yüklendiğinde "Employees" bağlantısını otomatik olarak aktif yap
        const employeesLink = $('.nav-item.active .nav-link');
        employeesLink.parent().addClass('active');

        navLinks.on('click', function () {
            // Tıklanan bağlantıyı aktif yap
            navLinks.each(function () {
                $(this).parent().removeClass('active');
            });
            $(this).parent().addClass('active');
        });
    });
</script>




