  <!-- partial:~/webtheme/template/partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       @*  <li class="nav-item">
            <a class="nav-link" href="~/webtheme/template/index.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li> *@
        
        <li class="nav-item">
            <a class="nav-link" href="/Employees/Index">
                <i class="menu-icon mdi mdi-account-multiple"></i>
                <span class="menu-title">Employees</span>
            </a>            
        </li>
      
       
    </ul>
</nav>
<!-- partial -->